.newTask {
  display: flex;
  margin-top: -30px;
  justify-content: center;
  align-items: center;
}

.newTask input {
  width: 39.875rem;
  background: var(--gray-500);
  border: 0;
  border-radius: 8px;
  padding: 1rem;
  margin-right: 0.5rem;
  
  transition: outline 0.1s, color 0.1s;
}

.newTask input:focus-within {
  outline: 1px solid var(--purple-dark);
  color: #fff;
}

.newTask button {
  padding: 1rem;
  border: 0;
  border-radius: 8px;
  line-height: 0;
  background: var(--blue-dark);
  
  display: flex;
  align-items: center;

  cursor: pointer;
  color:var(--gray-100);
}

.newTask button:hover {
  background: var(--blue);
}

.newTask button svg {
  margin-left: 0.5rem;
}
